.profile__paragraph-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .profile__paragraph-text {
        flex-direction: column;
        text-align: center;
        font-size: 14px;
        line-height: 17px;
    }  
}